@model WebQuanLyHocTap.Models.LopHocPhan
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    Thêm giảng viên
}
<div class="row">

    <div class="col-lg-8">
        @using (Html.BeginForm("Create", "LopHoc", FormMethod.Post))
        {

            <div class="p-5">

                <div class="col-md-12 text-center">
                    <h1 class="glyphicon-header">THÊM</h1>
                </div>
                <label>
                    @Html.ValidationSummary(false, "", "error")
                </label>


                <br />


                <form class="user">
                    <div class="form-group">
                        @*<input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">*@
                        @Html.TextBoxFor(model => model.LopHPID, new { @class = "form-control", @placeholder = "Nhập id lop hoc phan" })
                    </div>
                    
                    <div class="form-group">
                        @*<input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">*@
                        @Html.TextBoxFor(model => model.MonHocID, new { @class = "form-control", @placeholder = "Nhập id môn học" })
                    </div>
                    <div class="form-group">
                        @*<input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">*@
                        @Html.TextBoxFor(model => model.GiangVienID, new { @class = "form-control", @placeholder = "Nhập id giảng viên" })
                    </div>

                    <div class="form-group">
                        @*<input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">*@
                        @Html.TextBoxFor(model => model.tenHocPhan, new { @class = "form-control", @placeholder = "Nhập tên học phàn" })
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Thêm
                    </button>

                </form>

            </div>
        }

    </div>
</div>
